body {
  background: #e0aaff;
  font-family: "Roboto", sans-serif;
  background-image: url(weather-app-photo-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  background: #240046;
  max-width: 650px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 20px 4px #5a189a;
}