.weatherForecastDay {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 35px;
}

.weatherForecastWeekday {
    margin-bottom: -15px;
    font-weight: 600;
    color: #c77dff;
}

.weatherForecastIcon {
    width: 80px;
    display: block;
    margin: 0 auto;
}

.weatherForecastTemperatures {
    margin-top: -10px;
}

.weatherForecastTemperatureMin {
    color: #e0aaff;
}

.weatherForecastTemperatureMax {
    color: white;
}